@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo|Averia+Sans+Libre|Finger+Paint|Bubblegum+Sans|Chicle|Margarine|Patrick+Hand|Neucha|Short+Stack);



body{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	color:#202020;
	background:url(../images/bg-body.png) top repeat-x;
	margin-top:16px;
	overflow:auto;
}

article{
	overflow:hidden;
	display:block;
	position:relative;
	clear:both;
	display:block;	
}

label {
	color:#5B5B5B;	
}

.videoCtn {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.videoCtn iframe, .videoCtn object, .videoCtn embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


h1, h2, h3, h4, h5, h6, .fuenteCartoon, .venus-menu a, .venus-menu > li > a{
	font-family: 'Boogaloo', cursive !important;
	font-family: 'Averia Sans Libre', cursive;
	font-family: 'Finger Paint', cursive;
	font-family: 'Bubblegum Sans', cursive;
	font-family: 'Chicle', cursive;
	font-family: 'Margarine', cursive;
	font-family: 'Patrick Hand', cursive;
	font-family: 'Neucha', cursive;
	font-family: 'Short Stack', cursive; 
}

.venus-menu a, .venus-menu > li > a{
	font-size:23px !important;	
}

h1, h2, h3, h4, h5, h6{
	margin:10px 0;
	text-align:left;
	padding:0 10px 5px 0;
	font-size:20px;
	letter-spacing:0;
	color:#4083E3;
	text-transform:uppercase !important;
	font-size:26px !important;
}

.fuenteCartoon{
	font-family: 'Boogaloo', cursive !important;
	font-size:18px !important;	
	text-transform:uppercase !important;
}

.venus-menu > li > a {

}


p{
	font-family: 'Open Sans', sans-serif;
	line-height:21px;
	color:#555;	
}

p,a,ul,li,ol,span,strong,table,thead,tbody,tr,td{
	font-family: 'Open Sans', sans-serif;
}

.error{
	color:#F00 !important;	
}
/*********************************************
// COLORES Y FONDOS
**********************************************/
.colorBlanco {
	color:#FFF;
}

.colorBlack {
	color:#202020;
}

.bgBlanco{
	background:#FFF;
	overflow:hidden;
	position:relative;
}

.bold{
	font-weight:bold !important;	
}

.floatLeft{
	float:left;	
}

.overFlow{
	overflow:hidden;
}

.mayuscula{
	text-transform:uppercase;
}

.minuscula{
	text-transform:lowercase;
}

.capital{
	text-transform:capitalize;	
}



.leerMas {
	font-size:12px;
	padding:6px 10px;
	margin:10px 0 10px 0;
	color:#FFF;
	border-top:2px solid #A7DB59;
	border-bottom:1px solid #A6DB58;
	border-left:0;
	border-right:0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #B4E663),
	color-stop(1, #8FC741));
	background-image: -o-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -moz-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -webkit-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -ms-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: linear-gradient(to bottom, #B4E663 0%, #8FC741 100%);
}


.botonGenVerde {
	font-size:12px;
	padding:6px 10px;
	margin:10px 0 10px 0;
	color:#FFF;
	border-top:1px solid #A7DB59;
	border-bottom:1px solid #A6DB58;
	border-left:0;
	border-right:0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #B4E663),
	color-stop(1, #8FC741));
	background-image: -o-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -moz-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -webkit-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: -ms-linear-gradient(bottom, #B4E663 0%, #8FC741 100%);
	background-image: linear-gradient(to bottom, #B4E663 0%, #8FC741 100%);
}

.botonGenNaranja {
	font-size:12px;
	padding:6px 10px;
	margin:10px 0 10px 0;
	color:#FFF;
	border-top:1px solid #E75505;
	border-bottom:1px solid #E75405;
	border-left:0;
	border-right:0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #FB7C37),
	color-stop(1, #FA600D));
	background-image: -o-linear-gradient(bottom, #FB7C37 0%, #FA600D 100%);
	background-image: -moz-linear-gradient(bottom, #FB7C37 0%, #FA600D 100%);
	background-image: -webkit-linear-gradient(bottom, #FB7C37 0%, #FA600D 100%);
	background-image: -ms-linear-gradient(bottom, #FB7C37 0%, #FA600D 100%);
	background-image: linear-gradient(to bottom, #FB7C37 0%, #FA600D 100%);
}

.botonGenNaranja:hover {
	color:#FFF;
}


/*********************************************
// Enlaces
**********************************************/

.color777{
	color:#777;	
}

.linkBlanco {
	color:#FFF;
	text-decoration:none;	
}

.linkNegro {
	color:#202020;
	text-decoration:none;	
}

.containerBody{
	background:#F7F7F7;
	border-top:	4px solid #6CD3FE;
	width:100%;
	overflow:hidden;
	display:block;
}

.bannerBody1, .bannerBody2, .bannerBody3{
	float:left;
	width:32.6%;
}

.bannerBody1, .bannerBody2{
	margin:0 10px 0 0;
}


.bodyBGyBorder{
	margin:0;
	padding:10px 0;
	background:#FFF;
	border:1px solid #EBEBEB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	display:block;
}

.boxRight{
	padding:10px;
	
}

.bodyButtomBG{
	background:url(../images/bg-body.png) top repeat-x;
	width:100%;
	height:13px;	
}

.suscribete{
	background:#8CC43E;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	padding:5px 10px;
}

.suscribete h3{
	color:#FFF;
}

.encuesta p{
	margin:0 0 3px 10px;
	padding:0;	
}

.encuesta label{
	font-weight:normal;
	margin:0;
	padding:0;
}

.bodyCtnFlechaTop {
	background:url(../images/iconos/flechaTop.png) top repeat-x;
	padding-top:13px;
	margin-top:10px;
	width:100%;
	display:block;
}

.bodyCtnFlechaBottom {
	background:url(../images/iconos/flechaBottom.png) bottom repeat-x;
	padding-bottom:13px;
	margin-bottom:10px;
	width:100%;
	display:block;
}

.bodyCtnFlecha {
	background:#FBAF01;
	min-height:150px;
}

.bodyCtnFlecha h4{
	color:#FFF;
}



/*********************************************
// MARGEN
**********************************************/
.mg0{
	margin:0;
}
.pd0{
	padding:0;	
}
.mg1{
	margin:1px;	
}
.mg2{
	margin:2px;	
}
.mg3{
	margin:3px;	
}
.mg4{
	margin:4px;	
}
.mg5{
	margin:5px;	
}
.mg10{
	margin:10px;	
}
.mg20{
	margin:20px;	
}
.mg30{
	margin:30px;	
}
.mg40{
	margin:40px;	
}
.mg50{
	margin:50px;	
}

/*********************************************
// MARGEN TOP
**********************************************/
.mgTop1{
	margin-top:1px;	
}
.mgTop2{
	margin-top:2px;	
}
.mgTop3{
	margin-top:3px;	
}
.mgTop4{
	margin-top:4px;	
}
.mgTop5{
	margin-top:5px;	
}
.mgTop10{
	margin-top:10px;	
}
.mgTop20{
	margin-top:20px;	
}
.mgTop30{
	margin-top:30px;	
}
.mgTop40{
	margin-top:40px;	
}
.mgTop50{
	margin-top:50px;	
}


/*********************************************
// MARGEN RIGTH
**********************************************/
.mgRight1{
	margin-right:1px;	
}
.mgRight2{
	margin-right:2px;	
}
.mgRight3{
	margin-right:3px;	
}
.mgRight4{
	margin-right:4px;	
}
.mgRight5{
	margin-right:5px;	
}
.mgRight10{
	margin-right:10px;	
}
.mgRight20{
	margin-right:20px;	
}
.mgRight30{
	margin-right:30px;	
}
.mgRight40{
	margin-right:40px;	
}
.mgRight50{
	margin-right:50px;	
}

/*********************************************
// MARGEN BOTTOM
**********************************************/
.mgBottom1{
	margin-bottom:1px;	
}
.mgBottom2{
	margin-bottom:2px;	
}
.mgBottom3{
	margin-bottom:3px;	
}
.mgBottom4{
	margin-bottom:4px;	
}
.mgBottom5{
	margin-bottom:5px;	
}
.mgBottom10{
	margin-bottom:10px;	
}
.mgBottom20{
	margin-bottom:20px;	
}
.mgBottom30{
	margin-bottom:30px;	
}
.mgBottom40{
	margin-bottom:40px;	
}

.mgBottom50{
	margin-bottom:50px;	
}


/*********************************************
// MARGEN LEFT
**********************************************/
.mgLeft1{
	margin-left:1px;	
}
.mgLeft2{
	margin-left:2px;	
}
.mgLeft3{
	margin-left:3px;	
}
.mgLeft4{
	margin-left:4px;	
}
.mgLeft5{
	margin-left:5px;	
}
.mgLeft10{
	margin-left:10px;	
}
.mgLeft20{
	margin-left:20px;	
}
.mgLeft30{
	margin-left:30px;	
}
.mgLeft40{
	margin-left:40px;	
}
.mgLeft50{
	margin-left:50px;	
}


/*********************************************
// PADDING
**********************************************/
.pd1{
	padding:1px;	
}
.pd2{
	padding:2px;	
}
.pd3{
	padding:3px;	
}
.pd4{
	padding:4px;	
}
.pd5{
	padding:5px;	
}
.pd10{
	padding:10px;	
}
.pd20{
	padding:20px;	
}
.pd30{
	padding:30px;	
}
.pd40{
	padding:40px;	
}
.pd50{
	padding:50px;	
}

/*********************************************
// PADDING TOP
**********************************************/
.pdTop1{
	padding-top:1px;	
}
.pdTop2{
	padding-top:2px;	
}
.pdTop3{
	padding-top:3px;	
}
.pdTop4{
	padding-top:4px;	
}
.pdTop5{
	padding-top:5px;	
}
.pdTop10{
	padding-top:10px;	
}
.pdTop20{
	padding-top:20px;	
}
.pdTop30{
	padding-top:30px;	
}
.pdTop40{
	padding-top:40px;	
}
.pdTop50{
	padding-top:50px;	
}


/*********************************************
// PADDING RIGTH
**********************************************/
.pdRight1{
	padding-right:1px;	
}
.pdRight2{
	padding-right:2px;	
}
.pdRight3{
	padding-right:3px;	
}
.pdRight4{
	padding-right:4px;	
}
.pdRight5{
	padding-right:5px;	
}
.pdRight10{
	padding-right:10px;	
}
.pdRight20{
	padding-right:20px;	
}
.pdRight30{
	padding-right:30px;	
}
.pdRight40{
	padding-right:40px;	
}
.pdRight50{
	padding-right:50px;	
}

/*********************************************
// PADDING BOTTOM
**********************************************/
.pdBottom1{
	padding-bottom:1px;	
}
.pdBottom2{
	padding-bottom:2px;	
}
.pdBottom3{
	padding-bottom:3px;	
}
.pdBottom4{
	padding-bottom:4px;	
}
.pdBottom5{
	padding-bottom:5px;	
}
.pdBottom10{
	padding-bottom:10px;	
}
.pdBottom20{
	padding-bottom:20px;	
}
.pdBottom30{
	padding-bottom:30px;	
}
.pdBottom40{
	padding-bottom:40px;	
}
.pdBottom50{
	padding-bottom:50px;	
}

/*********************************************
// PADDING LEFT
**********************************************/
.pdLeft1{
	padding-left:1px;	
}
.pdLeft2{
	padding-left:2px;	
}
.pdLeft3{
	padding-left:3px;	
}
.pdLeft4{
	padding-left:4px;	
}
.pdLeft5{
	padding-left:5px;	
}
.pdLeft10{
	padding-left:10px;	
}
.pdLeft20{
	padding-left:20px;	
}
.pdLeft30{
	padding-left:30px;	
}
.pdLeft40{
	padding-left:40px;	
}
.pdLeft50{
	padding-left:50px;	
}


/*********************************************
// FUENTES
**********************************************/
.font10{
	font-size:10px;	
}
.font11{
	font-size:11px;	
}
.font12{
	font-size:12px;	
}
.font13{
	font-size:13px;	
}
.font14{
	font-size:14px;	
}
.font15{
	font-size:15px;	
}
.font16{
	font-size:16px;	
}
.font17{
	font-size:17px;	
}
.font18{
	font-size:18px;	
}
.font19{
	font-size:19px;	
}
.font20{
	font-size:20px;	
}
.font21{
	font-size:21px;	
}
.font22{
	font-size:22px;	
}
.font23{
	font-size:23px;	
}
.font24{
	font-size:24px;	
}
.font25{
	font-size:25px;	
}
.font26{
	font-size:26px;	
}


@media (max-width: 240px) {

}

@media (max-width: 320px) {

}

@media (max-width: 384px) {

}

@media (max-width: 480px) {

}

@media (max-width: 568px) {

}

@media (max-width: 680px) {

}

@media (max-width: 768px) {
	.venus-menu{
		padding:2px 10px !important;	
	}
	
	.venus-menu > li > a{
		padding:7px 7px 4px 7px !important;	
	}
	
	.venus-menu ul li a{
		padding:7px 7px 4px 7px !important;	
	}
	
	.bannerBody1, .bannerBody2, .bannerBody3{
		float:none;
		margin:10px auto;
		width:100% !important;
		max-width:340px !important;
	}
	
}

@media (max-width: 980px) {
	
	.logoTop{
		margin:10px auto 0 auto;
		width:100%;
		max-width:270px;	
	}
	
	.bannerTop{
		margin:10px auto 0 auto;
		width:100%;
		max-width:466px;	
	}
	
	.bannerBody1, .bannerBody2, .bannerBody3{
		width:32.4%;
	}
	
	.bodyCtnFlechaBox{
		margin:10px auto;
		padding:0;
		width:100%;
		max-width:317px;
	}
	
}


@media (max-width: 2024px) {

}

@media (min-width: 1024px) and (max-width: 2024px) {

}
