# ide
nbproject/*

# imagenes noticias
images/noticias/*
!images/noticias/banner1.jpg
!images/noticias/banner2.jpg

#imagenes temporales
images/tmp/*

# imagenes banners
images/bannerCentral/*
!images/bannerCentral/1.jpg
!images/bannerCentral/2.jpg
!images/bannerCentral/3.jpg
!images/bannerCentral/4.jpg
!images/bannerCentral/5.jpg
!images/bannerCentral/1401346943.jpg

